* {
  margin:0px;
  padding:0px;
}

html {background-color: #d4e6f1; background:#d4e6f1; min-height:100%; overflow-y:scroll; position:relative; }
body { color: #283747 ; font-family:'Helvetica Neue', 'Arial', 'Sans-Serif'; margin:20px 40px; width 90%;}

a { color:#229954 ; }
a:link { text-decoration:none; }
a:hover { color:#145a32; }

ul { list-style-type:none; }
nav li { display:inline-block; padding: 0 16px 8px 0; }

h1 { color:#154360 ; font-size:2.5em; font-weight:400; margin:0px; padding:8px 4px;}
h2, h3, h4, h5 { font-weight:400; margin:0px; padding:6px 0px 2px; font-size:2em; }
nav { font-family:'Helvetica Neue', 'Arial', 'Sans-Serif';/*"biolinum_r_g";sans-serif;*/  text-transform:uppercase; }

p {
  display: block;
  margin-top: 6px;
  font: 1em 'Helvetica Neue', 'Arial', 'Sans-Serif';
}



table td {
  padding: 5px;
  vertical-align: top;
}

footer {padding: 8px 0; color:#283747; font-family:'Helvetica Neue', 'Arial', 'Sans-Serif'; font-size:0.7em; font-weight:400;
    display: block; width: 100%;
}
